html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #e9f6f8;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0px;
  background-image: url(images/th.png);
}
#header-wraper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #0798abfa, transparent);
}
#header-info {
  flex: 1;
  padding: 10px;
  text-shadow: 1px 1px 2px #000000;
}
#my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
#my-picture img {
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #ffffff90;
}
header h1 {
  margin: 0 0 10px 0;
}

header h2 {
  margin: 0 0 10px 0;
}

#main {
  flex: 1;
}

h1 {
  color: #057988;
}

#teamsTable {
  width: 100%;
  border-collapse: collapse;
}

#teamsTable th,
#teamsTable td {
  border: 1px solid;
  color: #057988;
}

a.remove-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #b90303;
}
a.edit-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #039903;
}
a {
  color: #0096d6;
  text-decoration: none;
}
a:visited {
  color: #02638d;
}
a:hover {
  text-decoration: underline;
}
